video{
	width: 100%;
	height: 100vh;
	object-fit: cover;
	position: fixed;
}

.video-front{
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
}

.info{
	width: 400px;
	height: 200px;
	background-color: black;
	border-radius: 15px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	z-index: 2;
	color: white;
	padding: 20px;
}

h1{
	font-size: 36px;
}

.links{
	width: 58%;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

p{
	display: flex;
	gap: 10px;
	font-size: 18px;
}