<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
		integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="../css/product.css">
</head>

<body>
	<!-- navbar -->
	<nav id="navbar">
		<div class="container navbar-flex">
			<img href src="../media/logo.png" alt="logo" class="logo">
			<ul class="navbar-list">
				<li type="none"><a href="../index.html"><i class="fas fa-home"></i>home</a></li>
				<li type="none" class="navbar-list-item"><a href="#"><i class="fa-solid fa-bowl-food"></i>product<i
							class="fa-solid fa-caret-up shape"></i>
						<ul class="navbar-list-child">
							<li type="none"><a href="../template/ice-cream.html""><i
										class="fa-solid fa-ice-cream"></i>ice-cream</a></li>
							<li type="none"><a href="../template/chocolate.html""><i
										class="fa-solid fa-cookie"></i>chocolate</a></li>
							<li type="none"><a href="../template/drink.html""><i
										class="fa-solid fa-bottle-water"></i>drink</a></li>
						</ul>
					</a></li>
				<li type="none"><a href="./basket.html"><i class="fa-solid fa-cart-shopping"></i>basket</a></li>
				<li type="none"><a href="./video.html"><i class="fa-regular fa-address-card"></i>about</a></li>
			</ul>
		</div>
	</nav>
	<!-- //navbar -->


	<!-- ice-cream-product -->

	<div class="product container">

		
	</div>

	<!-- //ice-cream-product -->


	<!-- footer -->
	<footer class="footer">
		<div class="footer-container">
			<div class="footer-left">
				<img src="../media/logo.png" alt="Tropicana Logo" class="footer-logo">
				<p>Bizning do'kon: Muzqaymoq, Shokoland va ichimliklar</p>
			</div>
			<div class="footer-center">
				<ul>
					<li><i class="fas fa-home"></i> Bosh sahifa</li>
					<li><i class="fas fa-bars"></i> Menyu</li>
					<li><i class="fas fa-info-circle"></i> Biz haqimizda</li>
					<li><i class="fas fa-phone-alt"></i> Aloqa</li>
				</ul>
				<p>© 2024 Muzqaymoq & Shokoland. Barcha huquqlar himoyalangan.</p>
			</div>
			<div class="footer-right">
				<div class="social-links">
					<a href="#"><i class="fab fa-facebook"></i> Facebook</a>
					<a href="#"><i class="fab fa-instagram"></i> Instagram</a>
					<a href="#"><i class="fab fa-twitter"></i> Twitter</a>
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->

	<script src="../js/ice-cream.js"></script>
</body>

</html>