<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/video.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
		integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<!-- navbar -->
	<nav id="navbar">
		<div class="container navbar-flex">
			<img src="../media/logo.png" alt="logo" class="logo">
			<ul class="navbar-list">
				<li type="none"><a href="../index.html"><i class="fas fa-home"></i>home</a></li>
				<li type="none" class="navbar-list-item"><a href="#"><i class="fa-solid fa-bowl-food"></i>product<i
							class="fa-solid fa-caret-up shape"></i>
						<ul class="navbar-list-child">
							<li type="none"><a href="../template/ice-cream.html""><i class="fa-solid fa-ice-cream"></i>ice-cream</a></li>
							<li type="none"><a href="../template/chocolate.html""><i class="fa-solid fa-cookie"></i>chocolate</a></li>
							<li type="none"><a href="../template/drink.html""><i class="fa-solid fa-bottle-water"></i>drink</a></li>
						</ul>
					</a></li>
				<li type="none"><a href="./basket.html"><i class="fa-solid fa-cart-shopping"></i>basket</a></li>
				<li type="none"><a href="./video.html"><i class="fa-regular fa-address-card"></i>about</a></li>
			</ul>
		</div>
	</nav>

	<div class="video">
		<video autoplay loop muted>
			<source src="../media/Motivational Video.mp4">
		</video>
		<div class="video-front"></div>
		<div class="info">
			<h1>Biz bilan bo'glanish</h1>
			<div class="links">
				<p class="call-one"><i class="fa-solid fa-phone"></i>+998-99-999-99-99</p>
				<p class="call-two"><i class="fa-solid fa-phone"></i>+998-99-777-77-77</p>
				<p class="email"><i class="fa-solid fa-envelope"></i>cream@outlook.com</p>
			</div>
		</div>
	</div>
		
</body>

</html>